/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Verdana,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    background-color: #000000;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:999;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/*
 *  Header
 * ------------------------------------------------------------------------------
 */


/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
header {
    height: 70px;
}
/* Logo */
header nav .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 60px;
    display: table;
}
header nav .navbar-brand img {
    max-height: 60px;
}
/* Navigation Menu */
header .navbar,
#navbarsExampleDefault .navbar {
    padding: 0 1rem !important;
}
header .nav,
#navbarsExampleDefault .nav {
    /*font-family: 'Raleway', Arial, sans-serif;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: auto;
}
header .nav *,
#navbarsExampleDefault .nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
header .nav li,
#navbarsExampleDefault .nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 12px;
}
header .nav li {
    padding: 13px 0;
}
header .nav .nav-item a.nav-link {
    color: #FFFFFF !important;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
header .nav .nav-item a.nav-link:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 55px;
    width: 0%;
    height: 3px;
    background-color: #f7ad40;
    transform: translateX( -50% );
    -webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header .nav .nav-item a.nav-link:hover:before {
    width:100%;
}
header .nav a.nav-link:hover, header .nav .active a.nav-link,
#navbarsExampleDefault .nav a.nav-link:hover, #navbarsExampleDefault .nav .active a.nav-link {
    color: #f7ad40 !important;
}
header .nav .nav-item.active a.nav-link:before {
    width:100%;
}
/* dropdown */
header .dropdown {
    position: static;
    margin: 0;
}
header .dropdown-menu,
#navbarsExampleDefault .dropdown-menu {
    background-color: rgba(12,12,12,0.8);
    border-top: 3px solid #f7ad40;
    margin: 0;
}
header .dropdown-menu {
    top: 70px;
}
header .dropdown-menu a,
#navbarsExampleDefault .dropdown-menu a {
    color: #ffffff;
}
header .dropdown-menu a:hover,
#navbarsExampleDefault .dropdown-menu a:hover {
    color: #16181b;
}
/* Nav Right */
header #nav-right ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    float: left;
}
header #nav-right ul li:first-child {
    padding-left: 0;
}
header #nav-right ul li:last-child {
    border: 0;
    padding-right: 0;
}
header #nav-right ul li a.nav-link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}
header #nav-right ul li button,
header #nav-right ul li a.btn {
    /*background: linear-gradient(to right, #f7ad40, #000000);*/
    background-color: #f7ad40;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px 6px;
}
header #nav-right ul li a.btn.register {
    color: #333333;
    background-color: #f7ad40;
    background-image: linear-gradient(90deg, #F38F1E 0%, #f7ad40 75%);
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
header #nav-right ul li a.btn.sign-in {
    color: #f7ad40;
    background-color: transparent;
}
header #nav-right ul li .dropdown-menu {
    right: 0;
    left: auto;
}
header #nav-right ul li.dropdown .fa-user {
    padding: 5px;
    border: 2px solid #f7ad40;
    color: #f7ad40;
}
header #nav-right ul.login li .username {
    position: relative;
    top: 5px;
}
header #nav-right ul.login li h5 {
    margin-bottom: 5px;
}
header #nav-right ul.login li h5,
header #nav-right ul.login li small {
    text-align: center;
    color: #ffffff;
    line-height: 0px;
}
/* has login */

/*
 *  Mega menu dropdown
 * ------------------------------------------------------------------------------
 */
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    width: 100%;
    background-color: rgba(0,0,0,0.75) !important;
    border: 0;
    border-radius: 0;
    top: 67px !important;
    padding: 15px 0 0 0;
    margin: 0;
/* animation */
    transition: all 0.5s !important;
    overflow: hidden;
    transform-origin: top center !important;
    transform: scale(1,0) !important;
    display: block;
    height: 0;
    opacity: 0;
}
.mega-dropdown-menu li.dropdown-item {
    margin: 0 !important;
    padding: 0 !important;
}
.mega-dropdown-menu li.dropdown-item .card {
    background-color: transparent;
    border: 0;
}
/*.mega-dropdown-menu li.dropdown-item .card a {
    display: flex;
}*/
.mega-dropdown-menu li.dropdown-item .card .thumbnail,
.mega-dropdown-menu li.dropdown-item .card .thumbnail img {
    max-height: 100px;
    display: inline-block;
}
.mega-dropdown-menu li.dropdown-item .card .card-body {
    background-color: rgba(12,12,12,0.8);
    padding: 5px 0;
    height: 35px;
}
.mega-dropdown-menu li.dropdown-item .card .card-body img {
    max-height: 25px;
}
.mega-dropdown-menu li.dropdown-item .card .card-body a {
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    display: inline-flex;
}
.mega-dropdown-menu li.dropdown-item:hover {
    background-color: transparent;
}
.mega-dropdown-menu li.dropdown-item .card:hover .card-body a {
    color: #f7ad40 !important;
}

/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    cursor: all-scroll;
    position: relative;
}
#banner-slide .img-slide {
    display: none;
}
#banner-slide .bg-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* min-height: 498px;*/
    height: 77vh;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}
/* pagination */
#banner-slide ul.slick-dots {
    bottom: 25px;
}
#banner-slide ul.slick-dots li button:before,
#banner-slide ul.slick-dots li a.btn:before {
    color: #ffffff;
}

/*
 *  Custom
 * ------------------------------------------------------------------------------
 */
.bg-content {
    width: 100%;
    background-image: url('../img/bg-body.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.bg-gradient {
    background-color: #f7ad40;
    background-image: linear-gradient(90deg, #F38F1E 0%, #f7ad40 75%);
}
.bgFull-gradient {
    background: linear-gradient(to right, #f7ad40, #191025, #9b8b7b);
}
.bg-black {
    background-color: #000000 !important;
}
/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-t-30 {
    padding-top: 30px;
}
.p-b-30 {
    padding-bottom: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* color */
.color-yellow {
    color: #f7ad40;
}
/* border */
.border-yellow {
    border: 1px solid #f7ad40;
}
.border-t-yellow {
    border-top: 1px solid #f7ad40;
}
.border-b-yellow {
    border-bottom: 1px solid #f7ad40;
}
.border-t-gray {
    border-top: 1px solid #151414;
}
/* header tag */
h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}
h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}
p.font-md {
    font-size: 14px;
    line-height: 28px;
}
small {
    font-size: 12px;
    line-height: 12px;
}

/* break line */
hr {
    border-color: #f7ad40;
}
/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}
/** button **/
button.btn.register,
a.btn.register {
    color: #333333;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}
/* box */
.box-radius {
    border-radius: 15px;
    border: 1px solid #f7ad40;
    background-color: #000000a1;
}
/* image over */
.img-over a {
    position: relative;
    overflow: hidden;
    display: block;
}
.img-over a::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-over a:hover {
    box-shadow: 0px 0px 5px 5px #f8f9fa2b;
    border-radius: 10px;
}
.img-over a:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
/* button over */
.btn-over a,
.btn-over button {
    position: relative;
    overflow: hidden;
    display: block;
}
.btn-over a::before,
.btn-over button::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
/*.btn-over a:hover,
.btn-over button:hover {
    box-shadow: 0px 0px 5px 5px #f8f9fa2b;
    border-radius: 10px;
}*/
.btn-over a:hover::before,
.btn-over button:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}
/* animation */
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.img-fluid {
    display: block;
}

/*** Social Color
---------------------------------------------- ***/
.telegram {
    color: #0088cc;
}
.line {
    color: #41d037;
}
.whatsapp {
    color: #25d366;
}
.skype {
    color: #00aff0;
}

/*** Bootstrap
---------------------------------------------- ***/
.msg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}
/* form */
.form-group.required .control-label:after {
    content: "*";
    color: red;
}
/* modal */
.modal-backdrop.show {
    opacity: 0.85;
}

/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
footer {
    width: 100%;
    background-color: #151414;
    padding-top: 15px;
    border-top: 1px solid #f7ad40;
}
footer #footer-partner {
    padding-bottom: 15px;
}
footer #footer-partner ul li {
    display: inline;
    margin-right: 15px;
}
footer #footer-partner ul li a img {
    max-height: 50px;
    filter: grayscale(100%);
    transition: all 0.35s ease;
}
footer #footer-partner ul li a img:hover {
    filter: grayscale(0);
}

footer #footer-info {
    padding: 30px 0 20px 0;
}
footer #footer-info ul h3 {
    padding-bottom: 5px;
}
footer #footer-info ul li h5 {
    color: #333333;
    text-align: left;
    padding-top: 15px;
}
footer #footer-info ul li h5:first-child {
    padding-top: 0;
}
footer #footer-info ul li p {
    text-align: left;
}
footer #footer-info ul li a {
    text-align: left;
    color: #696969;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    text-transform: capitalize;
}
footer #footer-info ul li i {
    color: #696969;
}
footer #footer-info ul li a:hover {
    color: #ffffff;
}

footer #footer-nav {
    padding: 15px 0;
}
footer #footer-nav ul li {
    display: inline-block;
    /*padding: 0 15px;*/
}
/*footer #footer-nav ul li:first-child {
    padding-left: 0;
}
footer #footer-nav ul li:not(:first-child) {
    border-left: 1px solid #696969;
}*/
footer #footer-nav ul li a {
    text-align: left;
    color: #696969;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: underline;
    padding-right: 15px;
}
footer #footer-nav ul li a:hover {
    color: #ffffff;
}

footer #footer-bt {
    padding: 30px 0;
}
/*footer #footer-bt #email-subscribe .input-group {
    height: 38px;
}*/
footer #footer-bt #email-subscribe button {
    color: #333333;
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid #ffffff;
    line-height: 18px;
    height: 36px;
}
footer #footer-bt #email-subscribe input {
    background-color: #000000;
    border: 2px solid #ffffff;
    height: 36px;
}

footer #paymentMethod i {
    font-size: 40px;
    color: #ffffff;
    padding: 0 2px;
}
footer #paymentMethod i.icon-img,
footer #paymentMethod i.icon-img img {
    width: auto;
    height: 40px;
}
/* social media QR */
footer #social-qr ul.popup-qrcode {
    text-align: center;
}
footer #social-qr ul.popup-qrcode li {
    display: inline-block;
    margin: 0 5px 10px 5px;
}
footer #social-qr ul.popup-qrcode li a {
    font-size: 14px;
    line-height: 28px;
    color: #696969;
}
footer #social-qr ul.popup-qrcode li a:hover {
    color: #ffffff;
}
footer #social-qr ul.popup-qrcode li i {
    font-size: 20px;
}


/*
 *  Social network 1
 * ------------------------------------------------------------------------------
 */
/*ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook {
    background-color: #3B5998;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter {
    background-color: #33ccff;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle {
    background-color: #BD3518;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px !important;
}
.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}*/

/*
 *  Social network fix
 * ------------------------------------------------------------------------------
 */
.social-fix .social {
    position: fixed;
    top: 100px;
    right: 0;
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
}
.social-fix .social ul.social-media {
    padding: 0px;
}
.social-fix .social ul.social-media li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: left;
    padding: 5px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social-fix .social ul.social-media li:hover {
    -webkit-transform: translate(-110px, 0);
    -moz-transform: translate(-110px, 0);
    -ms-transform: translate(-110px, 0);
    -o-transform: translate(-110px, 0);
    transform: translate(-110px, 0);
   /* background: rgba(255, 255, 255, 0.4);*/
    background: #343a4070;
}
.social-fix .social ul.social-media li a {
    font-size: 14px;
    color: #ffffff;
}
/*.social-fix .social ul.social-media li:hover a {
    color: #333333;
}*/
.social-fix .social ul.social-media li i {
    margin-right: 10px;
    color: #000000;
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.social-fix .social ul li i.facebook {
    color: #3B5998;
}
.social-fix .social ul li i.twitter {
    color: #33ccff;
}
.social-fix .social ul li i.google {
    color: #BD3518;
}
.social-fix .social ul li i.youtube {
    color: #C60000;
}
.social-fix .social ul li i.telegram {
    color: #0088cc;
}
.social-fix .social ul li i.skype {
    color: #00aff0;
}
.social-fix .social ul li i.whatsapp {
    color: #25d366;
}
.social-fix .social ul li i.weixin {
    color: #7BB32E;
}
.social-fix .social ul li i.phone {
    color: #333333;
}
.social-fix .social ul li:hover i.facebook {
    background-color: #3B5998;
}
.social-fix .social ul li:hover i.twitter {
    background-color: #33ccff;
}
.social-fix .social ul li:hover i.google {
    background-color: #BD3518;
}
.social-fix .social ul li:hover i.youtube {
    background-color: #C60000;
}
.social-fix .social ul.social-media li:hover i {
    color: #ffffff;
    /*background: red;*/
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/** Social Network **/
.social-fix .social ul.social-network {
    transform: translate(50px, 0);
}
.social-fix .social ul.social-network div.btn-network {
    transform: rotate(-90deg);
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    /*border: 1px solid transparent;*/
    padding: 7px 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    width: auto;
    height: 36px;
    position: absolute;
    top: 65px;
    left: -100px;
}
.social-fix .social ul.social-network li {
    display: block;
    padding: 15px;
    /*background: rgba(0, 0, 0, 0.36);*/
    width: 300px;
    text-align: left;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 5px;
}
.social-fix .social ul.social-network li a i {
    font-size: 18px;
    width: 20px;
    height: 20px;
}
.social-fix .social ul.social-network li a {
    font-size: 14px;
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
    padding: 5px 0;
    display: block;
}
.social-fix .social ul.social-network li a:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
.social-fix .social ul.social-network li a.multi {
    padding-left: 25px;
}
.social-fix .social ul.social-network li a:hover {
    color: #f7ad40;
}
.social-fix .social ul.social-network li:hover {
    -webkit-transform: translate(-286px, 0);
    -moz-transform: translate(-286px, 0);
    -ms-transform: translate(-286px, 0);
    -o-transform: translate(-286px, 0);
    transform: translate(-286px, 0);
    background: #343a4070;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mega-dropdown:hover .mega-dropdown-menu {
        transform: scale(1) !important;
        height: auto;
        opacity: 1;
    }

}
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    header nav .navbar-brand {
        margin: 0;
    }
    /* Navigation */
    #navbarsExampleDefault {
        background-color: #1c1c1c !important;
    }
    #navbarsExampleDefault.sideMenu {
        top: 70px;
    }
    #navbarsExampleDefault .nav {
        text-align: left;
    }
    #navbarsExampleDefault .nav li {
        border-bottom: 1px solid;
    }
    header .navbar-toggler {
        border: 0;
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-toggler:hover, .navbar-toggler:focus {
        outline: none;
    }
    /** mega menu dropdown **/
    .mega-dropdown {
        position: relative !important;
    }
    .mega-dropdown-menu {
        background-color: #1c1c1c !important;
        top: 0 !important;
        position: relative !important;
        border-bottom: 0 !important;
    }
    .dropdown-menu.show {
        transform: scale(1) !important;
        height: auto;
        opacity: 1;
    }
    .mega-dropdown-menu li.dropdown-item {
        border-bottom: 0 !important;
    }


}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    header {
        height: 60px;
    }
    /* Navigation */
    #navbarsExampleDefault.sideMenu,
    header .dropdown-menu {
        top: 60px;
    }
    header nav .navbar-brand,
    header nav .navbar-brand img {
        max-height: 50px;
    }
    header #navbarsExampleDefault {
        max-width: 70%;
        padding: 1rem 0;
    }
    header .nav li {
        text-align: left !important;
    }
    header .nav a.nav-link:before {
        border-color: transparent;
    }
    #navbarsExampleDefault .dropdown-menu {
        width: auto;
        background-color: #1b1e21;
        border-top: 3px solid #f7ad40;
        left: -1px !important;
    }
    #navbarsExampleDefault .dropdown-menu a {
        color: #ffffff;
    }

    /* banner slide */
    #banner-slide .bg-slide {
         display: none;
    }
    #banner-slide .img-slide {
        display: block;
    }

    /** custom **/
    .border-lg-none {
        border: 0;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    header {
        height: 45px;
    }
    /* Navigation */
    #navbarsExampleDefault.sideMenu,
    header .dropdown-menu {
        top: 45px;
    }
    header nav .navbar-brand,
    header nav .navbar-brand img {
        max-height: 35px;
    }
    #navbarsExampleDefault .dropdown-menu {
        width: 100%;
    }
    /* Navigation right */
    #nav-right ul li {
        padding-right: 0 !important;
    }
    #nav-right ul.login li.dropdown {
        border: 0;
    }
    header #nav-right ul.login li .username {
        padding: 0;
        top: 15px;
    }
    header #nav-right ul.login li h5 {
        font-size: 12px;
        line-height: 0;
        margin-bottom: 0;
    }
    header #nav-right ul.login li small {
        font-size: 10px;
        line-height: 0;
    }

    /* banner slide */
    #banner-slide ul.slick-dots {
        bottom: 10px;
    }
    #banner-slide .slick-dots li {
        margin: 0;
    }
    #banner-slide button.register,
    #banner-slide a.btn.register {
        font-size: 14px;
        line-height: 28px;
        padding: 3px 6px;
    }

    /* footer */
    footer #paymentMethod h1 {
        font-size: 20px;
    }
    footer h2 {
        font-size: 16px;
    }
    footer ul.accordion-block {
        background-color: #151414;
        width: 100%;
        padding: 5px 15px;
    }
    footer .footer-accordion.collapsed:after {
        content: "+";
        float: right;
        font-size: 16px;
    }
    footer .footer-accordion:after {
        content: "-";
        float: right;
        font-size: 16px;
    }

    /* header tag */
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }

    /** custom **/
    .mx-s-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .border-md-none {
        border: 0;
    }

    /** social network fix **/
    .social-fix .social {
        top: 70px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .text-xs-center {
        text-align: center;
    }
    .d-xs-inline {
        display: inline-block;
    }

    /* footer */

}
