/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
#banner-slide .slide .slide-info {
    position: absolute;
    top: 0;
    padding: 50px 0;
}
#banner-slide .slide .slide-info .btn.register {
    color: #333333;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 30px;
}
#banner-slide .slide .slide-info h1,
#banner-slide .slide .slide-info small {
    color: #ffffff;
}
#banner-slide .slide .slide-info h1 {
    letter-spacing: 3px;
}
/** Content **/
#product .icon, #product .info {
    float: left;
}
#product .icon i {
    font-size: 50px;
    color: #babbbf;
    padding-right: 10px;
}
#product .info h5 {
    line-height: 24px;
    color: #babbbf;
}
#product .info small {
    color: #babbbf;
}

#promote h5, #promote a,
#liveCasino h5, #liveCasino a,
#sport h5, #sport a,
#game h5, #game a,
#football select {
    color: #babbbf;
}

/*
 *  Reset Select
 * ------------------------------------------------------------------------------
 */
.select-custom select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #231f20;
    background-image: none;

    font-size: 14px;
    line-height: 28px;
    font-weight: 700;

}
/* Remove IE arrow */
.select-custom select::-ms-expand {
    display: none;
}
/* Custom Select */
.select-custom.select {
    position: relative;
    display: inline-flex;
    background: #231f20;
    overflow: hidden;
    border-radius: .25em;
}
.select-custom select {
    flex: 1;
    padding: 0 30px 0 15px;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select-custom.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    background: none;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #babbbf;
}
/* Transition */
/*.select-custom.select:hover::after {
    color: #f39c12;
}*/

/*
 *  Promote Slide
 * ------------------------------------------------------------------------------
 */
#promote-slide {
    margin-left: -15px;
    margin-right: -15px;
}
#promote-slide .slide {
    display: none;
    padding: 0 15px;
}
#promote-slide.slick-initialized .slide {
    display: block;
}
#promote-slide .slick-arrow {
    position: absolute;
    /* top: 45%;*/
    top: 0;
    z-index: 99;
    height: 100%;
}
#promote-slide .slick-arrow.right {
    right: -15px;
}
#promote-slide .slick-arrow.left {
    left: -15px;
    transform: rotate(180deg);
}
#promote-slide .slick-arrow:hover {
    cursor: pointer;
}
#promote-slide .slick-arrow:focus {
    outline: none;
}

/*
*  Football Slide
* ------------------------------------------------------------------------------
*/
#football-slide-wrap {
    background-image: url('../img/footballs/UEFA-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 160px;
}
#football-slide .slide {
    display: none;
}
#football-slide.slick-initialized .slide {
    display: block;
}
#football-slide .slide ul {
    height: 160px;
}
#football-slide .slide ul li img {
    width: auto;
    height: 50px;
}
#football-slide .slide ul li span {
    color: #babbbf;
    font-size: 14px;
    font-weight: 500;
}
#football-slide .slide ul li small {
    color: #babbbf;
    font-size: 12px;
    font-weight: 300;
    display: block;
    line-height: 5px;
}
#football-slide .slick-arrow {
    position: absolute;
   /* top: 45%;*/
    top: 0;
    z-index: 99;
    height: 160px;
}
#football-slide .slick-arrow.right {
    right: 15px;
}
#football-slide .slick-arrow.left {
    left: 15px;
    transform: rotate(180deg);
}
#football-slide .slick-arrow:hover {
    cursor: pointer;
}
#football-slide .slick-arrow:focus {
    outline: none;
}
#football button.btn,
#football a.btn {
    z-index: 99999;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    top: -21px;
}
#guideJackpot {
    background-color: #000000;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    #banner-slide .slide .slide-info {
        display: none;
    }
    /** product **/
    #product .icon i {
        font-size: 40px;
    }
/*    #product .info h3 {
        font-size: 16px;
    }*/
    /** football **/
    #football-slide .slide ul li,
    #football-slide .slide ul li img {
        height: 40px;
    }
    #football button.btn,
    #football a.btn {
        top: 0;
        font-size: 12px;
        line-height: 24px;
        padding: 3px 6px;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    /** product **/
    #product .icon i {
        font-size: 30px;
        width: 50px;
        padding-right: 0;
    }
/*    #product .info h3 {
        font-size: 14px;
    }*/
    #product .borderb-s {
        border-bottom: 1px dashed #babbbf;
        padding-bottom: 10px;
    }


}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #promote-slide .slick-arrow {
        display: none !important;
    }
    #football {
        margin-right: -15px;
        margin-left: -15px;
    }
    #football-slide .slick-arrow {
        display: none !important;
    }

}
