/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
button.btn.register,
a.btn.register {
    position: absolute;
    bottom: -21px;
}
button.btn.register.btn-sm,
a.btn.register.btn-sm {
    font-size: 12px;
    left: auto;
    right: auto;
    bottom: -10px;
    padding: 3px 6px;
}

.box-promo {
    border: 1px solid #151414;
    background-color: #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul#myTab {
    width: 100%;
    background-color: #151414;
}
ul#myTab li a.nav-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    border-radius: 0;
}
ul#myTab li a.nav-link.active,
ul#myTab li a.nav-link:hover {
    color: #f7ad40;
    background-color: #000000;
}
#myTabContent {
    padding: 30px 30px 0 30px;
}
#myTabContent .header-title {
    border-left: 3px solid #f7ad40;
    padding-left: 10px;
    background: linear-gradient(to right, #151414, #000000a1);
}
#myTabContent .footer .bg-bottom {
    background: linear-gradient(to right, #000000a1, #151414);
    padding: 10px 0;
}
#myTabContent .footer .bg-bottom a.btn {
    font-weight: 900;
    color: #333333;
    padding: 3px 6px;
    /*margin: 9px 0;*/
}
#myTabContent .footer .bg-bottom ul li {
    width: 20px;
    display: inline-table;
    margin-left: 5px;
}
#myTabContent .footer .bg-bottom ul li p {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    display: table-footer-group;
}
#myTabContent .footer .bg-bottom ul li p.box {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #333333;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*
 *  Modal
 * ------------------------------------------------------------------------------
 */
.modal-content {
    border: 1px solid #f7ad40;
    border-radius: 15px;
    background-color: #000000;
}
.modal-content .modal-header {
    padding: 0;
    position: relative;
}
.modal-content .modal-header img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal-content .modal-header .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000000a1;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.modal-content .modal-header .close span {
    font-size: 12px;
    line-height: 12px;
    color: #babbbf;
    padding: 12px;
}
.modal-content .modal-body .title-top {
    padding: 5px 0;
    background: linear-gradient(to right, #151414, #000000a1);
}
.modal-content .modal-body .title-top h5 {
    border-left: 3px solid #f7ad40;
    margin: 5px 0 5px 10px;
    padding-left: 10px;
}
.modal-content .modal-body .title-top ul li {
    width: 20px;
    display: inline-table;
    margin-right: 5px;
}
.modal-content .modal-body .title-top ul li p {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    display: table-footer-group;
}
.modal-content .modal-body .title-top ul li p.box {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #333333;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.modal-content .modal-body a.btn {
    font-weight: 900;
    color: #333333;
    padding: 3px 6px;
}
/*.modal-content .modal-body .content-text ul {
    padding-left: 1em;
}*/
.modal-content .modal-body .content-text ul li {
    list-style: decimal;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    button.btn.register,
    a.btn.register {
        position: absolute;
        bottom: -18px;
    }
    /* box promo */
    .box-promo {
        border: 0;
        border-radius: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    ul#myTab li a.nav-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        line-height: 24px;
    }
    #myTabContent {
        padding: 20px 15px 0 15px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
