/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
#user-tap .box-content {
    width: 85%;
}
#profile div#user-profile span {
    font-size: 32px;
    padding: 16px;
    border: 2px solid #f7ad40;
    color: #f7ad40;
}
#profile ul li {
    display: inline-table;
    border-right: 1px solid #ffffff;
    margin-right: 50px;
    padding-right: 50px;
}
#profile ul li:last-child {
    padding: 0;
    margin: 0;
    border: 0;
}
#profile #user-action i {
    font-size: 18px;
}
#profile #user-action a {
    margin-left: 5px;
}

/*
 *  Tabs left
 * ------------------------------------------------------------------------------
 */
#myTab, #myTabContent {
    float: left;
}
ul#myTab li .nav-link {
    color: #ffffff;
    border-bottom: 1px solid #696969;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
}
/* active, hover */
ul#myTab li .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    font-weight: 900;
    color: #ffffff !important;
    background-color: #151414;
    border-bottom: 2px solid #f7ad40 !important;
    position: relative;
}
ul#myTab li .nav-link.active::after {
    display: inline-block;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(-90deg);
}
#myTabContent {
    padding-left: 50px;
}
#myTabContent .bg-gray {
    background-color: #151414;
}
#myTabContent h5, #myTabContent h6 {
    color: #babbbf !important;
}
#myTabContent .d-table {
    max-width: 100px;
}
/*The Image container */
.img-hover-zoom {
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
    transform: scale(.8);
    border-radius: 0.50rem;
}
.img-hover-zoom:hover img {
    transform: scale(1);
}
.customZoom img {
    transform: scale(1);
}
.customZoom:hover img {
    transform: scale(1.2);
}
.bg-aba {
    background-color: #015f7b !important;
}

/* Bootstrap Card */
.card-deck {
    margin-left: 0;
    margin-right: 0;
}
.card-deck .card {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
}
.card-deck .box-card {
    background-color: #ffffff;
    max-width: 80px;
    max-height: 80px;
    border-radius: 0.50rem;
}

/* report */
#report table tr th,
#report table tr td {
    padding: 0.50rem;
}
#report table tr th {
    font-weight: 900;
}
#report table tbody tr th,
#report table tbody tr td {
    color: #babbbf;
    font-weight: 500;
}
#report button {
    padding: 0 6px;
    height: 34px;
    font-size: 12px;
    font-weight: 900;
}
#report button#daterangepicker {
    background-color: #e9ecef !important;
}
#report #daterangepicker span,
#report #daterangepicker i {
    color: #333333;
}
/* report modal */
.modal-report .modal-title,
.modal .modal-header .close {
    color: #ffffff;
}
.modal-report .modal-body table tbody th {
    font-weight: 900;
    color: #babbbf;
    background-color: #151414;
    border-color: #333333;
    width: 25%;
}
.modal-report .modal-body table tbody td {
    font-weight: 500;
    color: #babbbf;
    background-color: #262626;
    border-top: 1px solid #333333;
}
.modal-report .modal-content {
    border: 1px solid #f7ad40;
    border-radius: 15px;
    background-color: #000000;
}
.modal-backdrop.show {
    opacity: 0.85;
}

/* password */
#password form label {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #babbbf;
}
#myTabContent .table-hover tbody tr:hover {
    background-color: rgba(255,255,255,.075);
}
/* jackpot */
#myTabContent #jackpot .badge {
    position: absolute;
    top: -14px;
    right: -14px;
    font-size: 14px;
    line-height: 28px;
}
#myTabContent #jackpot .fa-user {
    border: 2px solid #f7ad40;
    color: #f7ad40;
    font-size: 24px;
    padding: 12px;
}
#myTabContent #jackpot .jackpot-timer {
    padding-top: 45px;
}
#myTabContent #jackpot ul li {
    float: left;
    width: 20px;
    display: table;
    margin-right: 5px;
}
#myTabContent #jackpot ul li:last-child {
    margin-right: 0;
}
#myTabContent #jackpot ul li span {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    display: table-footer-group;
}
#myTabContent #jackpot ul li span.box {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;

    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #333333;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* bootstrap modal */
.modal .modal-header .close {
    margin: 0;
    padding: 0;
}
.modal  form label {
    font-weight: 900;
    color: #333333;
}
.modal .modal-header img {
    max-width: 80px;
}

/*
 *  Reset Select
 * ------------------------------------------------------------------------------
 */
.select-custom select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #dee2e6;
    background-image: none;

    font-size: 12px;
    line-height: 24px;
    font-weight: 900;
    height: 34px;
}
/* Remove IE arrow */
.select-custom select::-ms-expand {
    display: none;
}
/* Custom Select */
.select-custom.select {
    position: relative;
    display: inline-flex;
    background: #dee2e6;
    overflow: hidden;
    border-radius: .25em;
}
.select-custom select {
    flex: 1;
    padding: 0 18px 0 5px;
    color: #333333;
    cursor: pointer;
}
/* Arrow */
.select-custom.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px;
    background: none;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #333333;
}

/*
 *  Tabs to accordion
 * ------------------------------------------------------------------------------
 */
.responsive-tabs-container[class*="accordion-"] .accordion-link {
    display: none;
    color: #ffffff;
    border-bottom: 1px solid #696969;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.last {
    margin-bottom: 0;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
    font-weight: 900;
    color: #ffffff !important;
    background-color: #151414;
    border-top: 2px solid #f7ad40 !important;
    position: relative;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    #profile ul li {
        display: block;
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    #user-tap .box-content {
        width: 100%;
    }
    .box-radius {
        border-radius: 0;
        border: 0;
        padding: 0 !important;
    }
    .box-radius h5 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 300;
    }

    /* Tabs to accordion*/
    .responsive-tabs-container.accordion-xs ul#myTab {
        display: none;
    }
    .responsive-tabs-container.accordion-xs .accordion-link {
        display: block;
    }
    .responsive-tabs-container[class*="accordion-"] .tab-pane {
        background-color: #000;
    }
    #myTabContent {
        width: 100% !important;
        padding-left: 0;
    }
    #myTabContent .card-deck .box-card {
        max-width: 60px;
        max-height: 60px;
    }
    #myTabContent #password form label,
    #myTabContent #password form input {
        font-size: 12px;
        line-height: 24px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
