/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
.form-horizontal label {
    font-size: 14px;
    line-height: 38px;
    color: #babbbf;
}
label.reset-line-height {
    line-height: 21px;
}
button.bg-none, button.bg-none:hover {
    background-color: transparent;
}
button.border-color-y, button.border-color-y:hover {
    border-color: #f7ad40;
}
ul#myTab li.nav-item {
    background-color: #151414;
    margin: 0 5px;

}
ul#myTab li.nav-item a {
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
}
ul#myTab li.nav-item a.active {
    border-bottom: 2px solid #f7ad40 !important;
    background-color: transparent;
    border-radius: 0;
}
#myTabContent ul.social-register li {
    display: inline-block;
    margin: 0 5px;
}
#myTabContent ul.social-register li i {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
}
#myTabContent ul.social-register li i.facebook {
    color: #3B5998;
}
#myTabContent ul.social-register li i.facebook:hover,
#myTabContent ul.social-register li.active i.facebook {
    background-color: #3B5998;
}
#myTabContent ul.social-register li i.telegram {
    color: #0088cc;
}
#myTabContent ul.social-register li i.telegram:hover,
#myTabContent ul.social-register li.active i.telegram {
    background-color: #0088cc;
}
#myTabContent ul.social-register li i.instagram {
    color: #c32aa3;
}
#myTabContent ul.social-register li i.instagram:hover,
#myTabContent ul.social-register li.active i.instagram {
    background-color: #c32aa3;
}
#myTabContent ul.social-register li i:hover,
#myTabContent ul.social-register li.active i {
    color: #ffffff;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    margin: 2rem 0;
}
.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    opacity: .5;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #ffffff;
    background-color: #f7ad40;
}

/*
 *  country picker
 * ------------------------------------------------------------------------------
 */
.country-select {
    display: block;
}
.country-list {
    width: auto !important;
}

/*
 *  intl-tel-input
 * ------------------------------------------------------------------------------
 */
.iti{ width: 100% !important;}
.iti__flag {
    background-image: url("../../plugins/intl-tel-input/img/flags.png");
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .box-radius {
        border-radius: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        padding: 0 15px;
    }
    .form-horizontal label,
    .form-horizontal input,
    .form-horizontal select,
    ul#myTab li.nav-item a
    {
        font-size: 12px;
        line-height: 24px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    ul#myTab li.nav-item {
        margin: 0 2px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../../plugins/intl-tel-input/img/flags@2x.png");
    }

}
